In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,salalah,OM,2022-03-11 06:53:58,17.0151,54.0924,82.78,32,0,6.58
1,1,tuktoyaktuk,CA,2022-03-11 06:53:58,69.4541,-133.0374,-23.80,69,75,8.05
2,2,husavik,IS,2022-03-11 06:53:59,66.0449,-17.3389,39.49,85,100,10.80
3,3,vaini,TO,2022-03-11 06:53:59,-21.2000,-175.2000,78.96,94,75,2.30
4,4,klaksvik,FO,2022-03-11 06:54:00,62.2266,-6.5890,43.72,84,1,26.64

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
Adjusted_maxtemp= [max(temp, 0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level =1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=Adjusted_maxtemp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 25
What is the maximum temperature you would like for your trip? 60

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,husavik,IS,2022-03-11 06:53:59,66.0449,-17.3389,39.49,85,100,10.80
4,4,klaksvik,FO,2022-03-11 06:54:00,62.2266,-6.5890,43.72,84,1,26.64
6,6,vila franca do campo,PT,2022-03-11 06:54:00,37.7167,-25.4333,57.61,67,100,10.69
9,9,ancud,CL,2022-03-11 06:54:01,-41.8697,-73.8203,54.23,94,10,5.30
13,13,kodiak,US,2022-03-11 06:53:03,57.7900,-152.4072,36.91,87,100,0.00
25,25,avera,US,2022-03-11 06:54:06,33.1940,-82.5271,52.38,83,100,6.38
29,29,ushuaia,AR,2022-03-11 06:50:12,-54.8000,-68.3000,53.26,66,40,5.75
30,30,melo,UY,2022-03-11 06:54:07,-32.3667,-54.1833,58.42,92,74,8.93
36,36,jamestown,US,2022-03-11 06:49:50,42.0970,-79.2353,28.04,54,20,1.99
41,41,constitucion,CL,2022-03-11 06:54:10,-35.3333,-72.4167,56.86,73,3,6.33

In [22]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
2                husavik      IS     39.49  66.0449  -17.3389
4               klaksvik      FO     43.72  62.2266   -6.5890
6   vila franca do campo      PT     57.61  37.7167  -25.4333
9                  ancud      CL     54.23 -41.8697  -73.8203
13                kodiak      US     36.91  57.7900 -152.4072
25                 avera      US     52.38  33.1940  -82.5271
29               ushuaia      AR     53.26 -54.8000  -68.3000
30                  melo      UY     58.42 -32.3667  -54.1833
36             jamestown      US     28.04  42.0970  -79.2353
41          constitucion      CL     56.86 -35.3333  -72.4167

In [31]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

len(hotels["results"])

20

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

try:
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [33]:
hotel_df=hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,husavik,IS,39.49,66.0449,-17.3389,
4,klaksvik,FO,43.72,62.2266,-6.5890,
6,vila franca do campo,PT,57.61,37.7167,-25.4333,
9,ancud,CL,54.23,-41.8697,-73.8203,
13,kodiak,US,36.91,57.7900,-152.4072,
...,...,...,...,...,...,...
538,vostok,RU,28.89,46.4856,135.8833,
539,stykkisholmur,IS,37.31,65.0757,-22.7297,
543,sistranda,NO,42.76,63.7256,8.8340,
547,terney,RU,41.49,45.0503,136.6092,
549,kautokeino,NO,29.37,69.0125,23.0412,Thon Hotel Kautokeino

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))